# Dependencies
node_modules/
*.tgz
*.tar.gz
package-lock.json

# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Private notes
notes.txt
TODO.txt
DEPLOYMENT.md

# Media files (can be re-generated)
*.gif
*.mp4
*.mov
